/* #leftContainer {
    padding: 0px 0px;
    display: table;
    height: 100%;
    background-color: black;
}
#leftContainer > div {
    display: table-cell;
    margin: 10px 0px;
}
#rightContainer {
    display: table;
    height: 100%;
}
#rightContainer > div {
    display: table-cell;
    margin: 10px 0px;
} */